:root {
  --hero-background: #1f2937;
  --hero-main-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --button-color: #3882f6;
}

* {
  font-family: Nunito;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Part */

.hero-background {
  background: var(--hero-background);
  padding-bottom: 64px;
}

.hero-main {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: var(--hero-main-text);
  font-weight: 600;
}

.header-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  color: var(--secondary-text);
  margin: 12px;
  gap: 12px;
}

.hero-body {
  display: flex;
  padding: 48px 0;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information-hero {
  width: 50%;
  gap: 0;
}

.hero-text {
  color: var(--hero-main-text);
  font-size: 48px;
  font-weight: 700;
}

.hero-paragraph {
  color: var(--secondary-text);
  font-size: 18px;
  margin: 12px 0;
}

.hero-button {
  padding: 6px 24px;
  text-align: center;
  background: var(--button-color);
  border: none;
  border-radius: 8px;
  color: var(--secondary-text);
}

.container img {
  border-radius: 8px;
}

/* Body */

main {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contain {
  gap: 30px;
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  width: min-content;
}

.center {
  text-align: center;
}

.information {
  margin: 48px 0;
}

.image {
  width: 150px;
  height: 150px;
  border: 2px solid var(--button-color);
  border-radius: 12px;
}

.main {
  margin-bottom: 128px;
}

.quote {
  display: flex;
  background: var(--secondary-text);
  padding: 128px 0;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
}

.container-half {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.by-quote {
  place-self: end;
  font-size: 24px;
  font-weight: 700;
}

.blue {
  background: var(--button-color);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5em;
}

.signup .container {
  padding: 3em 6em;
  border-radius: 8px;
  width: 60%;
}

.call-text {
  font-size: 18px;
  color: var(--hero-main-text);
  font-weight: 700;
}

.signup-information {
  color: var(--secondary-text);
}

.signup div button {
  height: 2.25em;
  width: 8em;
  border: 2px solid var(--hero-main-text);
  background-color: var(--button-color);
  font-weight: 700;
  border-radius: 6px;
  color: var(--hero-main-text);
}